  
.npccolumnform {
    float: left;
    width: 25%;
  }

  .npccolumn {
    float: right;
    width: 25%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

    
.encountercolumn {
    float: left;
    width: 25%;
  }