.header {
  grid-area: header
}
.encountercolumn {
  grid-area: encounter;
}
.npccolumnform {
  grid-area: npcform;
}
.npccollection {
  grid-area: npccollection;
}
.npcinfocolumn {
  grid-area: npcshow;
}

.container {
  background-image: url('images/dndbackground.jpg');
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  grid-template-rows: auto;
  /* column-gap: 6px; */
  row-gap: 10px;
  justify-items: center;
  grid-template-areas: 
  "header header header header"
  "encounter npcform npccollection npcshow"
  "encounter npcform npccollection npcshow"
  "encounter npcform npccollection npcshow";
}

.header {
  background-image: url('images/headerbg.jpg');
  width: 100%;
  height: 100px;
}

hr {
  background-color: gray;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

fieldset {
  background-color: rgb(175, 175, 175);
  border-radius: 8px;
}

legend {
  background-color: rgb(0, 0, 0);
  border: #D4AF37;
  border-style: solid;
  border-width: 1px;
  color: #D4AF37;
}

h2 {
  font-size: 24px;
  background-color: rgb(175, 175, 175);
}

/* .npccolumnform {
    float: left;
    width: 25%;
  }

  .npccolumn {
    float: right;
    width: 25%;
  }
    
.encountercolumn {
    float: left;
    width: 25%;
  } */