.header {
  grid-area: header
}
.npccolumnform {
  grid-area: npcform;
}
.npccollection {
  grid-area: npccollection;
}
.npcinfocolumn {
  grid-area: npcshow;
}
.randomrow {
  grid-area: random;
}
.border {
  grid-area: bordercolumn;
}

.container {
  background-image: url('images/dndbackground.jpg');
  display: grid;
  grid-template-columns: 1% 24% 24% 24% 27%;
  grid-template-rows: auto;
  /* column-gap: 6px; */
  row-gap: 10px;
  justify-items: center;
  grid-template-areas: 
  "bordercolumn header header header header "
  "bordercolumn random npcform npccollection npcshow"
  "bordercolumn random npcform npccollection npcshow"
  "bordercolumn random npcform npccollection npcshow";
}

#encounter-1 {
  grid-area: encounter-1;
}

#encounter-2 {
  grid-area: encounter-2;
}

#encounter-3 {
  grid-area: encounter-3;
}

.buttonContainer {
  background-image: url('images/dndbackground.jpg');
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 10px;
  justify-items: center;
  grid-template-areas: 
  "encounter-1 encounter-2 encounter-3";
}

#randomButton {
    text-align: center;
    height: 35%;
    width: 35%;
    padding: 0;
    margin: 0;
}

.header {
  background-image: url('images/headerbg.jpg');
  width: 100%;
  height: 150px;
  background-position: 40% 40%;
  background-size: cover;
}

hr {
  background-color: gray;
  border-top: 2px solid rgb(0, 0, 0);
  line-height: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

fieldset {
  background-color: rgb(175, 175, 175);
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

#column-headers {
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  border-style: solid;
  border-color: #D4AF37;
  color: #D4AF37;
}

legend {
  background-color: rgb(0, 0, 0);
  border: #D4AF37;
  color: #D4AF37;
  border-style: solid;
  border-width: 1px;
  text-align: left;
}

h2 {
  font-size: 24px;
  text-align: center;
  padding: 1px;
  margin: 0px;
}

.gen-info {
  background-color: rgb(175, 175, 175);
  padding: 8px;
  border-radius: 4px;
}

/* armor class container */

#shield-container {
  height: 40px;
  width: 30px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#text-shield {
  z-index: 100;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  left: 6px;
  top: 10px;
}
#image-shield {
  position: absolute;
  height: 40px;
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#encounter-list {
  background-color: black;
}

/* ability score containers */
#ability-container {
display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
column-gap: 2px;
row-gap: 0;
border: 0;
justify-items: center;
grid-template-areas: 
"ability-str ability-dex ability-con ability-wis ability-cha"
"image-str image-dex image-con image-wis image-cha"
"text-str text-dex text-con text-wis text-cha";
}

.ability-str{
  grid-area: ability-str;
}
.ability-dex {
  grid-area: ability-dex;
}
.ability-con {
  grid-area: ability-con;
}
.ability-wis {
  grid-area: ability-wis;
}
.ability-cha {
  grid-area: ability-cha;
}
/* ability score containers */

#image-str {
  grid-area: image-str;
  height: 80px;
  width: 60px;
}

#text-str {
  z-index: 100;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  left: 1155px;
  top: 648px;
}

/* str ability score containers */

#text-dex {
  z-index: 100;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  left: 1225px;
  top: 648px;
}
#image-dex {
  grid-area: image-dex;
  height: 80px;
  width: 60px;
}

/* ability score containers */

#text-con {
  z-index: 100;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  left: 1293px;
  top: 648px;
}
#image-con {
  grid-area: image-con;
  height: 80px;
  width: 60px;
}

/* ability score containers */

#text-wis {
  z-index: 100;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  left: 1364px;
  top: 648px;
}

#image-wis {
  grid-area: image-wis;
  height: 80px;
  width: 60px;
}

/* ability score containers */

#text-cha {
  z-index: 100;
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bold;
  left: 1434px;
  top: 648px;
}

#image-cha {
  grid-area: image-cha;
  height: 80px;
  width: 60px;
}

#npc-container {
  height: 384px;
  width: 377px;
  position: relative;
}
